{% extends 'base.html.twig' %}

{% block title %}Snowtricks - home{% endblock %}

{% block body %}
    <!-- Header-->
    <header class="bg-dark d-flex justify-content-center align-items-center"
            style="background-image: url({{ asset('assets/heroBanner.jpg') }}); height: 95vh; background-position: center; background-size: cover;">
        <div class="">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">SnowTricks</h1>
                <p class="lead fw-normal text-white-50 mb-0">Find your Snowboard Tricks</p>
            </div>
        </div>
        <div id="btn-drop-section"><a class="btn btn-outline-dark" href="#trick-container"><i
                        class="row bi bi-arrow-down-short"
                        style=" padding:0; margin:-0.7rem ; font-size: 3rem;"></i></a></div>
    </header>
    <!-- Section-->
    <section class="d-flex flex-column m-4">
        <div id="trick-container" class="d-flex flex-wrap justify-content-center">
            {{ include('main/_trickList_partial.html.twig') }}
            </div>
            <div class="text-center">
                <button id="load-more" data-offset="{{ offset }}" class="btn btn-primary px-5">
                    Load more
                </button>
            </div>
    </section>
{% endblock %}