{% extends 'base.html.twig' %}

{% block title %}Add a Category{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 p-5 shadow bg-white">
            <h1>Add a Category</h1>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {{ form(form) }}
        </div>
    </div>
{% endblock %}