@import "~bootstrap";
@import '~bootstrap-icons';

body {
    background-color: lightgray;
}
a{
    color : #000000;
    text-decoration: none;

}
a:hover{
    text-decoration: none;
    color : white;

}


