{% extends 'base.html.twig' %}

{% block title %}Add a Category{% endblock %}

{% block body %}
    <h1>Add a Category</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {{ form(form) }}
{% endblock %}