{% extends 'base.html.twig' %}

{% block title %}Categories Manager{% endblock %}

{% block body %}
    <h1>Categories Manager</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Parent</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.parent }}</td>
                <td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no category found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_trick_new') }}">Create category</a>
{% endblock %}
