{{ form_row(form.pictureName) }}
{{ form_row(form.pictureFile) }}
{{ form_row(form.user) }}
<div class="form-group">
    <button type="button" class="btn btn-danger btn-remove">Remove</button>
</div>
