{% for post in posts %}

    <li class="list-group-item"><small><img class=""
                                            style="height: 50px; width: 50px; border-radius: 100%; text-align: center; object-fit: cover;"
                                            src="{{ asset('uploads/profiles/'~app.user.linkUserPicture) }}"
                                            alt="..."/>{{ post.user }} - {{ post.createdAt|date("m/d/Y") }}
            </small><br>{{ post.postContent }}</li>

{% endfor %}